# Adjusted requirements.txt
opencv-python==4.8.0.76

streamlit-webrtc


# Specify a compatible version range for numpy
numpy==1.26.0

# Specify a compatible version range for tensorflow
tensorflow==2.14.0

# Specify a compatible version range for keras
keras==2.14.0

# Specify a compatible version range for streamlit
streamlit==1.32.2
